.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: menulist-button;

  text-decoration: none;
  color: initial;
}
.dlbutton{
  padding: 0;
  height: 24px;
  width: 100px;
  line-height: 24px;
  position:absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
  margin: 0;
  border-radius: 60px;
  border: none;
  background: #42C2DF;
  color: white;
  font-size: 15px;
  transition: background 0.4s;
  cursor: pointer;
  justify-content: center;
  display: flex;
}
.button-shop {
  width: 100px;
  height: 50px;
  position: relative;
  border-radius: 60px;
  border: none;
  background: #42C2DF;
  color: white;
  font-size: 15px;
  transition: background 0.4s;
  cursor: pointer;
  justify-content: center;
  display: flex;
  line-height: 50px;	
}
.button-shop:hover {
  background: #3594A9;
  transition: background 0.4s;
}
.article{
  border: 2px black solid;
  border-bottom: 0;
  height: 91vh;
}
.centered-el{
  position:absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
}
.centered-el-left{
  position:absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}
.not-show{
  opacity: 20%;
}
.list-outer{
  overflow: hidden;
  overflow-y: scroll;
  height: 95%;
  padding: 0;
}
.list-el{
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  padding:0 10px 0 10px;
  border: black solid 2px;
}
.description {
  padding: 10px;
  margin: auto;
  width: 50%;
  font-size: 18px;
}
.pageTitle {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.carName {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.centered-text{
  width: 400px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup{
  border-radius: 60px;
  border: black solid 2px;
  visibility: hidden;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background-color: white;
}
.popup-show{
  visibility: visible;
}

.car-icon{
  max-width: 100%;
  max-height: 100%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-box{
  position: relative;
  width: 300px;
  height: 200px;
}
.view-divs{
  width: 48%; 
  height: 90%;
  padding: 1%;
}
.view-box{
  position: relative;
  width: 100%;
  height: 100%;
}
.view-car{
  max-width: 100%;
  max-height: 100%;
  position:absolute;
}
header{
  position: relative;
  height: 8vh;
  background:  lightblue;
  min-height: 30px;
  border: 2px black solid;
  border-top-width: 4px;
}
.logo-section{
  height: 100%;
  width: 5%;
  display: block;
  float:left;
}
.form{
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border: 5px solid grey;
  border-radius: 5px;
}

.name{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Smokum",serif;
  display: inline-block;
  color: white;
  margin:auto;
  letter-spacing: 2px;
  font-size: 6.4vh;
}
.logo{
  height: 6.4vh;
  margin: 0.8vh;
  background: white;
}
.list {
  display: flex;
  padding: 10px;
  border: 2px black solid;
}

.car-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.car-subtitle {
  font-weight: bold;
  font-size: 22px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
.imgbut{
  vertical-align: middle;
  width: 6vh;
  height: 6vh;
  min-width: 24px;
  min-height: 24px;
}

