.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: menulist-button;

  text-decoration: none;
  color: initial;
}
.description {
  padding: 10px;
  margin: auto;
  width: 50%;
  font-size: 18px;
}
.purchase-div{
}
.pageTitle {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.carName {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.button-shop {
  width: 100px;
  height: 50px;
  position: relative;
  border-radius: 60px;
  border: none;
  background: #42C2DF;
  color: white;
  font-size: 15px;
  transition: background 0.4s;
  cursor: pointer;
  justify-content: center;
  display: flex;
  line-height: 50px;	
}
.button-shop:hover {
  background: #3594A9;
  transition: background 0.4s;
}
.car-icon{
  max-width: 100%;
  max-height: 100%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-box{
  position: relative;
  width: 300px;
  height: 200px;
}
header{
  position: relative;
  height: 8vh;
  background:  lightblue;
  min-height: 30px;
  border: 2px black solid;
}
.logo-section{
  height: 100%;
  width: 5%;
  display: inline-block;
  float:left;
}
.form{
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border: 5px solid grey;
  border-radius: 5px;
}

.name{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Smokum",serif;
  display: inline-block;
  color: white;
  margin:auto;
  letter-spacing: 2px;
  font-size: 6.4vh;
}
.logo{
  height: 6.4vh;
  margin: 0.8vh;
  background: white;
}
.list {
  display: flex;
  padding: 10px;
  border: 2px black solid;
}

.car-title {
  font-weight: bold;
  font-size: 40px;
}
.car-subtitle {
  font-weight: bold;
  font-size: 22px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

